.inputContainer {
  position: relative;
  margin-bottom: 2.25rem;
}

.inputIcon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  color: #9ca3af;
  transition: left 0.3s, transform 0.3s;
}

.iconFocused {
  left: -1.75rem;
}

.inputField {
  padding: 0.5rem;
  border: 2px solid #1c7396;
  background-color: #202a32;
  border-radius: 50px;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 18px;
  color: #eceff4;
}

.inputField::placeholder {
  padding-left: 2.5rem;
  color: #b2c7dd;
}

.inputField:focus {
  outline: none;

  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}