.download {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 80%;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.imgContainer {
    display: flex;
    justify-content: center; /* Centraliza a imagem */
    flex: 1; /* Permite que a imagem ocupe espaço */
}

.botao {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    align-items: center;
    flex: 1; /* Remove a largura mínima */
    text-align: center; /* Centraliza o texto dentro do botão */
}


.p1 {
    font-size: 2.1em;
}

.b {
    border: none;
    margin: 0;
    width: 13em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 17px;
    background: #000;
    border-radius: 1em;
    color: #eceff4;
    cursor: pointer;
    transition: background 0.1s ease;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);  
    
}

.b:hover {
    background: #1c7396;
    box-shadow: 1px 3px 3px hsla(0, 0%, 0%, 0.9); 
}

.b:hover {
    transform: scale(0.9);
    
}

.b:active {
    transform: scale(0.9);
}



.icona {
    font-size: 2em;
}

.icongp {
    font-size: 1.5em;
}


@media (max-width: 1280px) {
    .container {
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .imgContainer {
        margin-top: 2.5em;
    }

    img{
        width: 80%;
    }

    .botao {
        gap: 1em;
    }
}

@media (max-width: 480px) {
    .download {
        height: 70.9vh;
    }

    .imgContainer {
        margin-top: 3.7em;
    }

    .p1 {
        font-size: 1.5em; /* Tamanho menor para texto */
    }

    .b {
        font-size: 16px; /* Ajusta o tamanho da fonte */
    }
}
