button{
    border: none;
    margin: 0;
}

.button{
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1em;
    font-family: inherit;
    background: #1c7396;
    border-radius: 1em;
    color: #eceff4;
    cursor: pointer;
    transition: background 0.3s ease;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.button:hover {
    background: #155b75; 
}

.button:active {
    background: #1c7396;
    box-shadow: 1px 1px 4px hsla(0, 0%, 0%, 1); 
    transform: scale(0.9);
}