.section {
    width: 100%;
    min-height: 70vh;

    display: flex;
    justify-content: center;

    padding-top: 3em;

    .content {
        width: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;

        .title {
            color: #1c7396;
            margin-bottom: 1em;
            font-size: 2.2em;
            font-weight: 500;
        }

        .text {
            margin: 0.5em;
        }

        .buttonDiv {
            margin-top: 1em;

            display: flex;
            gap: 2em;
            justify-content: center;

            .hButton {
                padding: 0.3em 1em;
                cursor: pointer;
            }

            a {
                text-decoration: none;
            }

        }


    }

    .imgDisplay {
        width: 40%;
        min-height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: 500px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
}

.about {
    padding-bottom: 2em;
}

@media (max-width: 1280px) {
    .section {
        .content {
            .title {
                font-size: 2em;
            }
        }
        .imgDisplay {
            img {
                height: 300px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .section {

        .content {
            width: 70%;
            text-align: center;
        }

        .imgDisplay {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .section {

        .content {
            width: 85%;

            .title {
                font-size: 1.5em;
            }

            .text {
                font-size: .9em;
            }
        }
    }
}

@media (max-width: 480px) {
    .section {
        .content {
            .title {
                font-size: 1.3em;
            }

            .buttonDiv {
                scale: 80%;
                gap: 1.2em;
            }
        }
    }
}