.Layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100vw;
  min-height: 100vh;
}

.header {
  height: 6.25em;
  width: 100vw;
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #23384d;

  .SeparatorHeader {
    width: 100%;
    padding: 1.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .navlinks {
      display: flex;
      align-items: center;
      gap: 1.5em;

      a {
        color: #eceff4;
        text-decoration: none;
      }

      .button {
        max-height: 1.75em;


        span {
          background: #fff;
          color: #1c7396;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3em;
          height: 3em;
          border-radius: 2em;
          transition: background 0.1s ease, color 0.1s ease;
        }

        p {
          margin-right: 0.5em;
          font-weight: inherit;
        }

        .icon {
          width: 1.5em;
          height: 1.5em;
        }
      }
    }

    .button:hover {
      span {
        background: #ebebeb;
        color: #155b75;
      }
    }

    .button:active {
      span {
        background: #fff;
        color: #1c7396;
      }
    }

    .mobileNav {
      display: none;
      /* Inicialmente escondido */

      .mobileButton {
        position: fixed;
        right: 25px;
        top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eceff4;
        color: #1a222a;
        padding: 0.75em;
        border-radius: 50px;
        z-index: 1;
      }

      .sideBar {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: #171b20;

        .sideBarWidth {
          height: 9em;
          width: 100%;
          display: flex;
        }

        .sideBarUl {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: auto;
          width: 100%;
          gap: 1.5em;
          padding: 0;

          .sideBarLi {
            list-style: none;

            .sideBarLink {
              color: #eceff4;
              text-decoration: none;
            }

            .sideBarLink:hover {
              color: #b2c7dd;
            }
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background: linear-gradient(160deg, #23384d, #1c7396) ;
  color: #eceff4;
  text-align: center;
  gap: 15px;

  a {
    color: #eceff4;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .header {
    .SeparatorHeader {

      img{
        width: 100px;
        height: 100px;
      }

      .navlinks {
        display: none;
      }

      .mobileNav {
        display: flex;
        justify-content: center;
      }
    }
  }

  .footer {
    flex-direction: column;
    gap: 0;
    p {
      margin: 0;
    }
  }
}

@media (max-width: 480px) {
  .header {
    .SeparatorHeader {
      img{
        width: 85px;
        height: 85px;
      }
    }
  }
  .footer {
    font-size: 0.8em;
    p {
      margin: 0;
    }
  }
}