.mockup {
    width: 40%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8em 0 0 0;

    img {
        height: 500px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .mockup {
        display: none;
    }
}