:root {
  background: #1A222A;

  color: #eceff4;
  font-family: 'Tiresias Infofont';
  font-size: 1.125em;
  line-height: 1.75em;

  
  body {
    overflow-x: hidden;
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Tiresias Infofont';
  src: url('/fonts/tiresias_infofont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tiresias Infofont';
  src: url('/fonts/tiresias_infofont_italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}